.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}
.form_data{
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    font-weight: bold;
    
}
.body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}
.title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.form{
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: #b8bdbd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    align-items: center;
}
.form_submit{
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
}
.form_submit button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;

}
.form_submit button:hover{
    text-decoration: underline;
}